.noteModal_overlay {
    position: fixed;
    padding: 5%;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.noteModal {
    background-color: #F0FFFF;
    padding: 25px;
    width: 100%;
    border-radius: 18px;
}

.noteModal_header {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.noteModal_foodName {
    color: rgb(83, 83, 83);
}
.noteModal_header button {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.noteModal_header button:hover{
    color: #dc3545;
}
.noteModal_textzone {
    width: 100%;
    background-color: #F0FFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 3%;
}

.noteModal_order_btn {
    margin: 10px 0;
    width: 100%;
    border: none;
    padding: 10px 0;
    background: #28a745;
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.noteModal_order_btn:hover{
    background: #2CBF4E;
}
